{% import "bootstrap/wtf.html" as wtf %}
{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('https://images.unsplash.com/photo-1586864387634-2f33030dab41?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=80')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>Did you forget your password?</h1>
            <span class="subheading">Enter your email and we will send you a token.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="container" id="password">
    <div class="row">

      <div class="col-lg-8 col-md-10 mx-auto content">
        {% with messages=get_flashed_messages(with_categories=True) %}
        {% if messages %}
            {% if messages[0][0]=="error": %}
                <p class="text-danger">{{messages[0][1]}}</p>
            {% else: %}
                <p class="text-success">{{messages[0][1]}}</p>
            {% endif %}
        {% endif %}
        {% endwith %}
        <form class="register" method="POST" action="{{url_for('forget_password')}}">
          {{form.email.label}}
          {{form.email(class='form-control')}}
          {{form.submit(class="btn btn-primary")}}
          <br>
        </form>
      </div>
    </div>
  </div>


{% include "footer.html" %}
